# Disable because these are annoying
disable=SC2086
disable=SC2206
disable=SC2248
disable=SC2155

# Suggest ${VAR} in place of $VAR
enable=require-variable-braces

# Turn on warnings for unquoted variables with safe values
enable=quote-safe-variables

# Turn on warnings for unassigned uppercase variables
enable=check-unassigned-uppercase
